/* ==================================================== Recreating the email field from https://webflow.com/cms. Just an experiment - not as cross-browser friendly as the original. Changed: - animated gradient bar to :after element - flexbox for layout ==================================================== */
.form-section{
    padding: 5rem;
}
 input {
	 border-style: none;
	 background: transparent;
	 outline: none;
}
 button {
	 padding: 0;
	 background: none;
	 border: none;
	 outline: none;
}
 body {
	 -webkit-font-smoothing: antialiased;
	 -moz-osx-font-smoothing: grayscale;
	 font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	 background-image: radial-gradient(circle at 0% 0%, #373b52, #252736 51%, #1d1e26);
}
 h1.demo {
	 text-align: center;
	 font-size: 2.4rem;
	 font-weight: normal;
	 margin-bottom: 1rem;
	 color: #f5f6ff;
}
 a.demo {
	 text-align: center;
	 font-size: 1.6rem;
	 font-weight: normal;
	 color: rgba(202, 205, 239, 0.8);
	 margin-bottom: 3rem;
}
 .container {
	 display: flex;
	 flex-direction: column;
	 height: 100vh;
	 max-width: 1600px;
	 padding: 0 15px;
	 margin: 0 auto;
}
 @keyframes gradient {
	 0% {
		 background-position: 0 0;
	}
	 50% {
		 background-position: 100% 0;
	}
    0% {
		 background-position: 0 0;
	}
}
 .webflow-style-input {
	 position: relative;
	 display: flex;
	 flex-direction: row;
	 width: 100%;
	 margin: 0 auto;
	 border-radius: 2px;
	 padding: 1.4rem 2rem 1.6rem;
	 background: rgba(57, 63, 84, 0.8);
}
 .webflow-style-input:after {
	 content: "";
	 position: absolute;
	 left: 0px;
	 right: 0px;
	 bottom: 0px;
	 z-index: 999;
	 height: 2px;
	 border-bottom-left-radius: 2px;
	 border-bottom-right-radius: 2px;
	 background-position: 0% 0%;
	 background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	 background-size: 500% auto;
	 animation: gradient 5s linear infinite;
}
 .webflow-style-input input {
	 flex-grow: 1;
	 color: #bfd2ff;
	 font-size: 1.8rem;
	 line-height: 2.4rem;
	 vertical-align: middle;
}
 .webflow-style-input input::-webkit-input-placeholder {
	 color: #7881a1;
}
 .webflow-style-input button {
	 color: #7881a1;
	 font-size: 2.4rem;
	 line-height: 2.4rem;
	 vertical-align: middle;
	 transition: color 0.25s;
}
 .webflow-style-input button:hover {
	 color: #bfd2ff;
}
 

/*-----button------*/

#box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  color: #bfd2ff;
  padding: 1rem;
  font-family: 'Raleway';
  font-size: 2.5rem;
}
.gradient-border {
  --borderWidth: 3px;
  background: var(--color-dark-1);
  position: relative;
  border-radius: var(--borderWidth);
}
.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}


@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


