@import 'navbar.css';
@import 'card.css';
@import 'games.css';
@import 'form.css';
@import url('https://fonts.googleapis.com/css?family=Roboto');
 
html{
    box-sizing: border-box;
    font-size: 62.5%; /*10px -> 1rem*/
}

*, *::after, *::before{
    box-sizing: inherit;
}

body {
	 margin: 0;
     padding: 0;
	 color: white;
	 background: var(--color-dark-1);
	 font-family: 'Roboto', sans-serif;
}

:root{
    --color-dark-1: #082032;
    --color-dark-2: #2C394B;
    --color-dark-3: #334756;
    --color-primary: #FF4C29;
}
